body{

    min-height: 110vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-image:url(../media/play\ video.png)
    
    
    
}
video{
    width: 300px;
    height: 525px;
    margin-top: 105px;
    margin-left: 550px;
}